.change {
  display: flex;
  padding: 0 20px;
  flex-direction: column;
  gap: 8px;

  .profile {
    display: flex;
    margin: 20px 0 24px 0;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 449px;

    .photo {
      display: flex;
      margin: 2px 12px 0 0;
      width: 38px;
      height: 38px;
    }

    .username-area {
      display: flex;
      margin-right: 20px;
      flex-direction: column;

      .text {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 2px;
        padding-left: 8px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 400;
      }
    }
  }

  .submit-btn {
    display: flex;
    max-width: 449px;
    width: 120px;
    height: 30px;
    margin-top: 16px;

    @media screen and (min-width: 736px) {
      margin-left: 142px;
    }
  }

  .forgot-password-link {
    display: flex;
    max-width: 449px;
    width: 146px;
    height: 34px;
    margin-top: 16px;
    font-size: 14px;
    margin-left: -8px;

    @media screen and (min-width: 736px) {
      margin-left: 134px;
    }
  }
}